@charset "UTF-8";
/*
&display=swap
&subset=cyrillic-ext
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,400,700,900&display=swap"); */
/* -------------------- ОБНУЛЕНИЕ СТИЛЕЙ ----------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Abel", sans-serif;
  /* overflow-x: hidden; */
  /* background-color: #f5f5f5; */
}

/* --------------------// ОБНУЛЕНИЕ СТИЛЕЙ //----------------------- */
/*
 установить Quick and Simple Text Selection
 назначить горячие клавиши на выделение текста внутри тега и внутри кавычек
{
	"key": "alt+e",
	"command": "extension.selectInTag",
	"when": "editorFocus"
 }

 {
	"key": "alt+s",
	"command": "extension.selectDoubleQuote",
	"when": "editorFocus"
 } */
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/
/* -------------------- ТЕХНИЧЕСКИЕ КЛАССЫ ----------------------- */
._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* --------------------// ТЕХНИЧЕСКИЕ КЛАССЫ //----------------------- */
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  /* padding: 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
}

[class*="__container"] {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 15px;
  /* №1 */
  /* №2 */
  /* №3 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1110px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  position: relative;
}

.header__line {
  background-color: #fff;
  opacity: 0.1;
  height: 2px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-column-gap: 9px;
          column-gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  transform: translate3d(0px, 4px, 0px);
  -webkit-transform: translate3d(0px, 4px, 0px);
  -ms-transform: translate3d(0px, 4px, 0px);
  -o-transform: translate3d(0px, 4px, 0px);
  -moz-transform: translate3d(0px, 4px, 0px);
}

.menu-header {
  position: relative;
}

@media (max-width: 768px) {
  .menu-header {
    visibility: hidden;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.menu-header__link {
  font-size: 14px;
  line-height: 90px;
  color: #fff;
  position: relative;
  -webkit-perspective: 400px;
          perspective: 400px;
}

.menu-header__link:active {
  color: #34c759;
}

.menu-header__link::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #34c759;
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
          transform: rotate3d(0, 1, 0, 90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__link:hover::before {
  content: "";
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
          transform: rotate3d(0, 1, 0, 0deg);
}

.menu-header__icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 30px;
  height: 20px;
  background-color: transparent;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
}

.menu-header__icon span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  background-color: #fff;
}

.header_fixed {
  background-color: #1a1a1a;
}

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0;}
			&:last-child{top: auto;buttom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.footer {
  background-color: #79aa45;
  padding: 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a1a1a;
}

.button {
  font-size: 18px;
  line-height: 23px;
  border-radius: 43px;
  padding: 25px 60px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1a1a1a;
  background-color: #34c759;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button:hover {
  background-color: #34c759d4;
}

@media (max-width: 768px) {
  .button {
    padding: 20px 40px;
  }
}

@media (max-width: 425px) {
  .button {
    padding: 15px 20px;
    font-size: 16px;
  }
}

.mainblock {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 170px 0px 400px 0px;
}

.mainblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mainblock__image::after {
  content: '';
}

.mainblock__img {
  /* @media (max-width:600px){
			object-position: right;
		} */
}

.mainblock__container {
  position: relative;
}

.mainblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.mainblock__content:not(:last-child) {
  margin: 0px 0px 70px 0px;
}

.mainblock__title {
  font-size: 72px;
  line-height: 1.27;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;
  max-width: 800px;
}

@media (max-width: 1024px) {
  .mainblock__title {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .mainblock__title {
    font-size: 40px;
  }
}

.mainblock__subtitle {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: -0.2px;
  color: #fff;
  opacity: 0.7;
  max-width: 595px;
}

.mainblock__subtitle:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.mainblock__button:not(:last-child) {
  margin: 0px 0px 60px 0px;
}

.mainblock__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px -45px;
  padding: 0px 97px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

@media (max-width: 425px) {
  .mainblock__items {
    margin: 0;
    padding: 0;
  }
}

.mainblock__item {
  padding: 0px 45px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  text-align: center;
  min-width: 200px;
}

.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-main__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  width: 27px;
}

.item-main__icon:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.item-main__title {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.item-main__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-main__text {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.about {
  position: relative;
  margin: -240px 0px 0px 0px;
}

.about__container {
  padding: 105px 0px 90px 0px;
  background-color: #252525;
}

.about__body {
  text-align: center;
  padding: 0px 17%;
}

.about__body:not(:last-child) {
  margin: 0px 0px 90px 0px;
}

.about__titles:not(:last-child) {
  margin: 0px 0px 61px 0px;
}

.about__text {
  font-size: 16px;
  line-height: 1.87;
  color: #A6A6A6;
}

.block-titles {
  position: relative;
}

.block-titles__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 100px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  color: #303030;
}

.block-titles__subtitle {
  position: relative;
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.2em;
  color: #d9d9d9;
}

.slider-about {
  position: relative;
}

.slider-about__body {
  padding: 0px 17%;
}

@media (max-width: 480px) {
  .slider-about__body {
    padding: 0px;
  }
}

.slider-about__image {
  text-align: center;
  padding: 0px 0px 70.2% 0px;
}

/* Стрелки */
.swiper-button-prevv::after,
.swiper-button-nextt::after {
  display: none;
}

.swiper-button-prevv,
.swiper-button-nextt {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #303030;
  -webkit-transition: border-color 0.2s ease 0s;
  -o-transition: border-color 0.2s ease 0s;
  transition: border-color 0.2s ease 0s;
}

@media (max-width: 768px) {
  .swiper-button-prevv,
  .swiper-button-nextt {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .swiper-button-prevv,
  .swiper-button-nextt {
    width: 50px;
    height: 50px;
  }
}

.swiper-button-prevv:hover,
.swiper-button-nextt:hover {
  border: 2px solid #494949;
}

.swiper-button-prevv {
  left: 0;
  background: url("../../img/about/1.svg") center no-repeat;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

@media (max-width: 768px) {
  .swiper-button-prevv {
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

.swiper-button-nextt {
  right: 0;
  background: url("../../img/about/2.svg") center no-repeat;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

@media (max-width: 768px) {
  .swiper-button-nextt {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

/* .slider-about__arrows .swiper-button-prev::after,
.slider-about__arrows .swiper-button-next::after {
	color: #fff;
	font-size: 80px;
}
 */
