@import "_mixins";
/*
&display=swap
&subset=cyrillic-ext
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,400,700,900&display=swap"); */
@import "_null";
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/

/* -------------------- ТЕХНИЧЕСКИЕ КЛАССЫ ----------------------- */

._ibg {
	position: relative;
	& img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

/* --------------------// ТЕХНИЧЕСКИЕ КЛАССЫ //----------------------- */

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	/* padding: 20px; */
	@include flexbox();
	flex-direction: column;
	background-color: #252525;
}
[class*="__container"] {
	max-width: 1110px;
	margin: 0px auto;
	padding: 0px 15px;
	/* №1 */
	@media (max-width: 1110px) {
		max-width: 970px;
	}
	/* №2 */
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	/* №3 */
	@media (max-width: 767.98px) {
		max-width: none;
	}
	box-sizing: content-box;
}
@import "_header";
@import "_footer";
.main {
	flex: 1 0 100%;
	@include flexbox();
	flex-direction: column;
	background-color:#1a1a1a;
}
.button {
	font-size: 18px;
	line-height: 23px;
	border-radius: 43px;
	padding: 25px 60px;
	@include flexboxinline();
	justify-content:center;
	align-items: center;
	text-align: center;
	color: #1a1a1a;
	background-color: #34c759;
	letter-spacing: 0.2em;
	transition: all 0.2s ease 0s;
	&:hover {
		background-color: #34c759d4;
	}
	@media (max-width:768px){
		padding: 20px 40px;

	}
	@media (max-width:425px){
		padding: 15px 20px;
		font-size: 16px;

	}
}
.mainblock {
	// flex: 1 0 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 170px 0px 400px 0px;

	// .mainblock__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::after{
			content:'';

		}
	}
	// .mainblock__img
	&__img {

		/* @media (max-width:600px){
			object-position: right;
		} */
	}
	// .mainblock__container
	&__container {
		position: relative;
	}
	// .mainblock__content
	&__content {
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		&:not(:last-child){
			margin: 0px 0px 70px 0px;
		}
	}
	// .mainblock__title
	&__title {
		font-size: 72px;
		line-height: 1.27;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #fff;
		max-width: 800px;
		@media (max-width:1024px){
			font-size: 60px;
		}
		@media (max-width:768px){
			font-size: 40px;
		}
	}
	// .mainblock__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: -0.2px;
		color: #fff;
		opacity: 0.7;
		max-width: 595px;
		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .mainblock__button
	&__button {

		&:not(:last-child) {
			margin: 0px 0px 60px 0px;
		}
	}
	// .mainblock__items
	&__items {
		@include flexbox();
		align-items: flex-start;
		margin: 0px -45px;
		padding: 0px 97px;
		flex-wrap: wrap;
		row-gap: 20px;
		@media (max-width:425px){
			margin: 0;
			padding: 0;
		}
	}
	// .mainblock__item
	&__item {
		// flex: 1 0 245px;
		padding: 0px 45px;
		flex: 1 1 33.333%;
		text-align: center;
		min-width: 200px;
	}
}
.item-main {
	@include flexbox();
	flex-direction: column;
	align-items: center;
	// .item-main__time
	&__icon {
		flex: 0 0 27px;
		width: 27px;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .item-main__title
	&__title {
		font-size: 16px;
		line-height: 1.3;
		color: #fff;
		&:not(:last-child){
			margin: 0px 0px 15px 0px;
		}
	}
	// .item-main__text
	&__text {
		font-size: 14px;
		color: #fff;
		opacity: 0.5;
	}
}


.about {
	position: relative;
	margin: -240px 0px 0px 0px;
	// .about__container
	&__container {
		padding: 105px 0px 90px 0px;
		background-color: #252525;
	}
	// .about__body
	&__body {
		// @include flexbox();
		// flex-direction: column;
		// justify-content:center;align-items: center;
		text-align: center;
		padding: 0px 17%;
		&:not(:last-child){
			margin: 0px 0px 90px 0px;
		}

	}
	// .about__titles
	&__titles {
		&:not(:last-child){
			margin: 0px 0px 61px 0px;
		}
	}
	// .about__text
	&__text {
		font-size: 16px;
		line-height: 1.87;
		color: #A6A6A6;

	}
	// .about__slider
	&__slider {

	}
}
.block-titles {
	// .block-titles__title
	position: relative;
	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;

	}
	// .block-titles__subtitle
	&__subtitle {
		position: relative;
		// transform: translate(0, 50%);
		font-size: 30px;
		line-height: 2;
		letter-spacing: 0.2em;
		color: #d9d9d9;

	}
}

.slider-about {
	position: relative;
	// .slider-about__body
	&__body {
		// position: relative;
		padding: 0px 17%;
		@media (max-width:480px){
			padding: 0px;
		}
	}
	// .slider-about__wrapper
	&__wrapper {}
	// .slider-about__slide
	&__slide {}
	// .slider-about__image
	&__image {
		text-align: center;
		padding: 0px 0px 70.2% 0px;
	}
	// .slider-about__img
	&__img {
		// max-width: 100%;
	}
	// .slider-about__arrows
	&__arrows {

	}
}

/* Стрелки */
.swiper-button-prevv::after,
.swiper-button-nextt::after {
	display: none;

}
.swiper-button-prevv,
.swiper-button-nextt {
	position: absolute;
	top: 50%;
	width: 60px;
	height: 60px;
	// z-index: 2;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #303030;
	transition: border-color 0.2s ease 0s;
		@media (max-width:768px){
			width: 40px;
			height: 40px;
		}
		@media (max-width:1024px){
			width: 50px;
			height: 50px;
		}

}
.swiper-button-prevv:hover,
.swiper-button-nextt:hover {
	border: 2px solid #494949;
}
.swiper-button-prevv {
	left: 0;
	background: url('../../img/about/1.svg') center no-repeat;
	transform: translate(100%, -50%);
		@media (max-width:768px){
			transform: translate(50%, -50%);
		}
}
.swiper-button-nextt {
	right: 0;
	background: url('../../img/about/2.svg') center no-repeat;
	transform: translate(-100%, -50%);
	@media (max-width:768px){
		transform: translate(-50%, -50%);
	}

}

/* .slider-about__arrows .swiper-button-prev::after,
.slider-about__arrows .swiper-button-next::after {
	color: #fff;
	font-size: 80px;
}
 */
