@import "_mixins";
/*
&display=swap
&subset=cyrillic-ext
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,400,700,900&display=swap"); */
@import "_null";
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/

/* -------------------- ТЕХНИЧЕСКИЕ КЛАССЫ ----------------------- */

._ibg {
	position: relative;
	& img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

/* --------------------// ТЕХНИЧЕСКИЕ КЛАССЫ //----------------------- */

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	/* padding: 20px; */
	@include flexbox();
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1110px;
	margin: 0px auto;
	padding: 0px 15px;
	/* №1 */
	@media (max-width: 1110px) {
		/* max-width: 970px; */
	}
	/* №2 */
	@media (max-width: 991.98px) {
		/* max-width: 750px; */
	}
	/* №3 */
	@media (max-width: 767.98px) {
		/* max-width: none; */
	}
	box-sizing: content-box;
}
@import "_header";
@import "_footer";
.main {
	flex: 1 0 100%;
}
.button {
	text-align: center;
	color: #1a1a1a;
	background-color: #34c759;
	transition: all 0.2s ease 0s;
	&:hover {
		background-color: #34c759d4;
	}
}
.mainblock {
	position: relative;
	padding: 170px 0px 0px 0px;
	background-color: rgba(0, 0, 0, 0.5);

	// .mainblock__fullscreen
	&__fullscreen {
		position: absolute;
		width: 100%;
		// min-height: 100vh;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .mainblock__picture
	&__picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
		// max-width: 100%;
	}
	// .mainblock__container
	&__container {
		position: relative;
	}
	// .mainblock__content
	&__content {
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		&:not(:last-child){
			margin: 0px 0px 70px 0px;
		}
	}
	// .mainblock__title
	&__title {
		font-size: 72px;
		line-height: 1.27;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #fff;
		max-width: 800px;
	}
	// .mainblock__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: -0.2px;
		color: #fff;
		opacity: 0.7;
		max-width: 595px;
		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .mainblock__button
	&__button {
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0.2em;
		border-radius: 43px;
		padding: 25px 60px;
		&:not(:last-child) {
			margin: 0px 0px 60px 0px;
		}
	}
	// .mainblock__items
	&__items {
		@include flexbox();
		align-items: flex-start;
		margin: 0px -45px;
		padding: 0px 97px;
		flex-wrap: wrap;
		row-gap: 20px;
	}
	// .mainblock__item
	&__item {
		// flex: 1 0 245px;
		padding: 0px 45px;
		flex: 1 1 33.333%;
		text-align: center;
		min-width: 200px;
	}
}
.item-main {
	// @include flexbox();
	// flex-direction: column;
	// .item-main__time
	&__icon {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .item-main__title
	&__title {
		font-size: 16px;
		// line-height: 1.87;
		color: #fff;
		&:not(:last-child){
			margin: 0px 0px 15px 0px;
		}
	}
	// .item-main__text
	&__text {
		font-size: 14px;
		color: #fff;
		opacity: 0.5;
	}
}
